Combined_data.csv is made from data the original authors provided, but cleaned by Laurens Dâ€™Hooge. From this, I will only further clean up a few things, like removing SubClass, and encoding strings

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('combined_data.csv')
df.drop('SubClass', axis=1, inplace=True)
df.to_csv('final_dataset.csv', index=False)

In [11]:
print('rr_type: ', len(pd.unique(df['rr_type'])))
print('unique_country:', len(pd.unique(df['unique_country'])))
print('unique_asn:', len(pd.unique(df['unique_asn'])))
print('unique_ttl:', len(pd.unique(df['unique_ttl'])))
print('GlobalClass:', len(pd.unique(df['GlobalClass'])))

rr_type:  5
unique_country: 164
unique_asn: 5643
unique_ttl: 8
GlobalClass: 5

rr_type and unique_ttl have few enough unique values to use one-hot encoding. unique_country and unique_asn can not be simply encoded this way

In [12]:
df = pd.get_dummies(df, columns=['rr_type', 'unique_ttl'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183869 entries, 0 to 183868
Data columns (total 41 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   rr                         183869 non-null  float64
 1   A_frequency                183869 non-null  float64
 2   PTR_frequency              183869 non-null  float64
 3   TXT_frequency              183869 non-null  float64
 4   AAAA_frequency             157004 non-null  float64
 5   rr_count                   183869 non-null  float64
 6   rr_name_entropy            183869 non-null  float64
 7   rr_name_length             183869 non-null  float64
 8   distinct_ns                183869 non-null  float64
 9   unique_country             183869 non-null  object
 10  unique_asn                 183869 non-null  object
 11  ttl_mean                   183869 non-null  float64
 12  ttl_variance               183869 non-null  float64
 13  FQDN_count                 183869 non-null  int64
 14  subdomain_length           183869 non-null  int64
 15  upper                      183869 non-null  int64
 16  lower                      183869 non-null  int64
 17  numeric                    183869 non-null  int64
 18  entropy                    183869 non-null  float64
 19  special                    183869 non-null  int64
 20  labels                     183869 non-null  int64
 21  labels_max                 183869 non-null  int64
 22  labels_average             183869 non-null  float64
 23  longest_word               183869 non-null  int64
 24  sld                        183869 non-null  int64
 25  len                        183869 non-null  int64
 26  subdomain                  183869 non-null  int64
 27  GlobalClass                183869 non-null  object
 28  rr_type_{'A'}              183869 non-null  uint8
 29  rr_type_{'AAAA', 'A'}      183869 non-null  uint8
 30  rr_type_{'PTR'}            183869 non-null  uint8
 31  rr_type_{'TXT'}            183869 non-null  uint8
 32  rr_type_{None}             183869 non-null  uint8
 33  unique_ttl_{'1'}           183869 non-null  uint8
 34  unique_ttl_{'122'}         183869 non-null  uint8
 35  unique_ttl_{'128', '122'}  183869 non-null  uint8
 36  unique_ttl_{'128'}         183869 non-null  uint8
 37  unique_ttl_{'255'}         183869 non-null  uint8
 38  unique_ttl_{'64', '128'}   183869 non-null  uint8
 39  unique_ttl_{'64'}          183869 non-null  uint8
 40  unique_ttl_{}              183869 non-null  uint8
dtypes: float64(13), int64(12), object(3), uint8(13)
memory usage: 41.6+ MB

In [14]:
#don't know how to encode these yet, excude from this iteration of the learning, may add later if accuracy is bad
df = df.drop('unique_country', axis=1)
df = df.drop('unique_asn', axis=1)

In [15]:
print(df['GlobalClass'].unique())

['Benign' 'Light Attack' 'Light Benign' 'Heavy Attack' 'Heavy Benign']

In [16]:
df = df.dropna(subset=['GlobalClass'])

In [17]:
print(df['GlobalClass'].unique())

['Benign' 'Light Attack' 'Light Benign' 'Heavy Attack' 'Heavy Benign']

In [18]:
df.to_csv('final_dataset.csv', index=False)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183869 entries, 0 to 183868
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   rr                         183869 non-null  float64
 1   A_frequency                183869 non-null  float64
 2   PTR_frequency              183869 non-null  float64
 3   TXT_frequency              183869 non-null  float64
 4   AAAA_frequency             157004 non-null  float64
 5   rr_count                   183869 non-null  float64
 6   rr_name_entropy            183869 non-null  float64
 7   rr_name_length             183869 non-null  float64
 8   distinct_ns                183869 non-null  float64
 9   ttl_mean                   183869 non-null  float64
 10  ttl_variance               183869 non-null  float64
 11  FQDN_count                 183869 non-null  int64
 12  subdomain_length           183869 non-null  int64
 13  upper                      183869 non-null  int64
 14  lower                      183869 non-null  int64
 15  numeric                    183869 non-null  int64
 16  entropy                    183869 non-null  float64
 17  special                    183869 non-null  int64
 18  labels                     183869 non-null  int64
 19  labels_max                 183869 non-null  int64
 20  labels_average             183869 non-null  float64
 21  longest_word               183869 non-null  int64
 22  sld                        183869 non-null  int64
 23  len                        183869 non-null  int64
 24  subdomain                  183869 non-null  int64
 25  GlobalClass                183869 non-null  object
 26  rr_type_{'A'}              183869 non-null  uint8
 27  rr_type_{'AAAA', 'A'}      183869 non-null  uint8
 28  rr_type_{'PTR'}            183869 non-null  uint8
 29  rr_type_{'TXT'}            183869 non-null  uint8
 30  rr_type_{None}             183869 non-null  uint8
 31  unique_ttl_{'1'}           183869 non-null  uint8
 32  unique_ttl_{'122'}         183869 non-null  uint8
 33  unique_ttl_{'128', '122'}  183869 non-null  uint8
 34  unique_ttl_{'128'}         183869 non-null  uint8
 35  unique_ttl_{'255'}         183869 non-null  uint8
 36  unique_ttl_{'64', '128'}   183869 non-null  uint8
 37  unique_ttl_{'64'}          183869 non-null  uint8
 38  unique_ttl_{}              183869 non-null  uint8
dtypes: float64(13), int64(12), object(1), uint8(13)
memory usage: 38.8+ MB

In [20]:
#removing this column because it has NaNs, which Trustee can not handle
df.drop('AAAA_frequency', axis=1, inplace=True)
df.to_csv('final_dataset.csv', index = False)