Combined_data.csv is made from data the original authors provided, but cleaned by Laurens Dâ€™Hooge. From this, I will only further clean up a few things, like removing SubClass, and encoding strings

In [123]:
import pandas as pd
import numpy as np

df = pd.read_csv('combined_data.csv')
df.drop('SubClass', axis=1, inplace=True)
df.to_csv('final_dataset.csv', index=False)

In [124]:
print('rr_type: ', len(pd.unique(df['rr_type'])))
print('unique_country:', len(pd.unique(df['unique_country'])))
print('unique_asn:', len(pd.unique(df['unique_asn'])))
print('unique_ttl:', len(pd.unique(df['unique_ttl'])))
print('GlobalClass:', len(pd.unique(df['GlobalClass'])))

rr_type:  5
unique_country: 164
unique_asn: 5643
unique_ttl: 8
GlobalClass: 5

In [125]:
print(df['rr_type'].unique())
print(df['unique_ttl'].unique())
print(df['rr'].unique())
print(print(np.where(df.rr != df.A_frequency)))

["{'PTR'}" '{None}' "{'A'}" "{'AAAA', 'A'}" "{'TXT'}"]
["{'1'}" "{'255'}" "{'128', '122'}" "{'128'}" "{'122'}" "{'64'}" '{}'
 "{'64', '128'}"]
[ 0.   4.   2.   1.   3.   8.   5.   6.   7.   2.5 12. ]
(array([  4690,  14253, 115415]),)
None

rr_type and unique_ttl have already been encoded (A_frequency, PTR_frequency, TXT_frequency, and AAAA_frequency for rr_type; ttl_mean and ttl_variance for unique_ttl)

In [126]:
df = df.drop('rr_type', axis=1)
df = df.drop('unique_ttl', axis=1)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183869 entries, 0 to 183868
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   rr                183869 non-null  float64
 1   A_frequency       183869 non-null  float64
 2   PTR_frequency     183869 non-null  float64
 3   TXT_frequency     183869 non-null  float64
 4   AAAA_frequency    157004 non-null  float64
 5   rr_count          183869 non-null  float64
 6   rr_name_entropy   183869 non-null  float64
 7   rr_name_length    183869 non-null  float64
 8   distinct_ns       183869 non-null  float64
 9   unique_country    183869 non-null  object
 10  unique_asn        183869 non-null  object
 11  ttl_mean          183869 non-null  float64
 12  ttl_variance      183869 non-null  float64
 13  FQDN_count        183869 non-null  int64
 14  subdomain_length  183869 non-null  int64
 15  upper             183869 non-null  int64
 16  lower             183869 non-null  int64
 17  numeric           183869 non-null  int64
 18  entropy           183869 non-null  float64
 19  special           183869 non-null  int64
 20  labels            183869 non-null  int64
 21  labels_max        183869 non-null  int64
 22  labels_average    183869 non-null  float64
 23  longest_word      183869 non-null  int64
 24  sld               183869 non-null  int64
 25  len               183869 non-null  int64
 26  subdomain         183869 non-null  int64
 27  GlobalClass       183869 non-null  object
dtypes: float64(13), int64(12), object(3)
memory usage: 39.3+ MB

In [128]:
#don't know how to encode these yet, excude from this iteration of the learning, may add later if accuracy is bad
df = df.drop('unique_country', axis=1)
df = df.drop('unique_asn', axis=1)
#removing rr because it seems to be the same as A_frequency, except for when rr_type is {'AAAA', 'A'}, which is only 3 rows
df = df.drop('rr', axis=1)

In [129]:
print(df['GlobalClass'].unique())

['Benign' 'Light Attack' 'Light Benign' 'Heavy Attack' 'Heavy Benign']

In [130]:
df = df.dropna(subset=['GlobalClass'])

In [131]:
print(df['GlobalClass'].unique())

['Benign' 'Light Attack' 'Light Benign' 'Heavy Attack' 'Heavy Benign']

In [132]:
df.to_csv('final_dataset.csv', index=False)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183869 entries, 0 to 183868
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   A_frequency       183869 non-null  float64
 1   PTR_frequency     183869 non-null  float64
 2   TXT_frequency     183869 non-null  float64
 3   AAAA_frequency    157004 non-null  float64
 4   rr_count          183869 non-null  float64
 5   rr_name_entropy   183869 non-null  float64
 6   rr_name_length    183869 non-null  float64
 7   distinct_ns       183869 non-null  float64
 8   ttl_mean          183869 non-null  float64
 9   ttl_variance      183869 non-null  float64
 10  FQDN_count        183869 non-null  int64
 11  subdomain_length  183869 non-null  int64
 12  upper             183869 non-null  int64
 13  lower             183869 non-null  int64
 14  numeric           183869 non-null  int64
 15  entropy           183869 non-null  float64
 16  special           183869 non-null  int64
 17  labels            183869 non-null  int64
 18  labels_max        183869 non-null  int64
 19  labels_average    183869 non-null  float64
 20  longest_word      183869 non-null  int64
 21  sld               183869 non-null  int64
 22  len               183869 non-null  int64
 23  subdomain         183869 non-null  int64
 24  GlobalClass       183869 non-null  object
dtypes: float64(12), int64(12), object(1)
memory usage: 35.1+ MB

In [134]:
#removing these columns because it has NaNs, which Trustee can not handle
df.drop('AAAA_frequency', axis=1, inplace=True)
df.to_csv('final_dataset.csv', index = False)